body {
 	background-image: url('back.png');
 	background-repeat: no-repeat;
 	background-size: 65%;
 	background-position: center;
 } 

h1, h2, h4 {
  text-align: center;
  margin: 0 0 .5em 0;
  line-height: 1.2;
  letter-spacing: -.02em;
  color: #ced2ce;
}

hr {
	margin : 4px;
	width  : 85%;
}

div.window {
	background-color: #363c2eb5;
	margin : 4px;
	width  : 25%;
	padding: 2px 4px;
	border : 1px solid #acb1ac;
}

label {
	margin :0 0 .6em 0;
	line-height : 1.5;
	font-size: 16;
	color : #ced2ce;

}

input[type=text] {
  vertical-align: 4px;
  width: 60%;
  padding: 8px 8px;
  position: relative;
  margin: 6px 2px;
  border: none;
  border-bottom: 2px solid #070807;

}

input[type=number] {
  vertical-align: 4px;
  width: 20%;
  padding: 8px 8px;
  position: relative;
  margin: 6px 2px;
  border: none;
  border-bottom: 2px solid #070807;

}

input[type=submit] {
  background-color: #0e100e;
  width: 45%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit] : hover {
  background-color: #61655f;
}

textarea {
	margin: 4px;
	padding: 10px, 20px;
}